{
displayStrings = (
"/brevecomb_acutecomb/brevecomb_gravecomb/brevecomb_hookabovecomb/brevecomb_tildecomb/circumflexcomb_acutecomb/circumflexcomb_gravecomb/circumflexcomb_hookabovecomb/circumflexcomb_tildecomb",
"UƯ",
"OƠ",
"̉ƠỞ",
"oơ",
"uư",
"yỵ",
"/circumflexcomb_tildecomb ấ",
"ዚያ
",
"̃ṹ",
"𞟪",
"𞟪𞟫"
);
}
